h1 {
    text-align: center;
    

}

.mimenu{
    background-color: rgb(163, 142, 102);
    font-size: 1.5em;
}

#subtitulo {
   
    color: rgb(116, 55, 11);
    font-family: cursive;
}
h3 {

    background-color: rgb(198, 154, 240);
}
.subtitulo {
    
    padding: 0.2cm;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centradologo{
    display: block;
    margin-left: auto; 
    margin-right:auto;
}
.center{ 
    text-align: center;
    font-size: 16pt;
}
.credit{
    text-align: center;
    font-size: 13pt;
    margin-top: 0.9cm;
}

.name{
    text-align: center;
    font-size: 16pt;
    margin-bottom: 1.7cm;

}

.text-white{
    margin-bottom: 1cm;
}

.card-title{
    font-size: 1em;
    color: rgb(157, 213, 245);

}
.card-text{
    font-size: 1em;
    color: rgb(157, 213, 245);
}
.video {
    width: 100vw;
    min-height: 85vh;
}
@media (min-width: 798px) {
    .card-text{
        font-size: 7em;
    }
    .card-title{
        font-size: 5em;
        color: rgb(157, 213, 245);
    
    }
}


#button {
    padding: 2.4;
    
    }

#button li{
        display: inline;
        }


#button li a {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            text-decoration: none;
            float: left;
            padding: 10px;
            background-color: #6dafe6;
            color: #fff;
            }
#button li a:hover {
                background-color: #87b3d8;
                margin-top: -2;
                padding-bottom: 12px;]
                }

.card{
    font-size: 4pt;
    margin-top: cm;
    color: black;
}

.card-body{
    font-size: 4pt;
    margin-top: cm;
}
.card-title2{
    font-size: 16pt;
}
.card-text2{
    font-size: 16pt;
}

.centrado{
    display: block;
    margin-left: auto; 
    margin-right:auto;
}
.sj{
    text-align: center;
    font-size: 27pt;
    margin-bottom: 1.2cm;
}

.biog{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1.2cm;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    text-align: justify;
    margin-bottom: 1.3cm;
}